<!-- TODO this file has become a mess, refactor it -->

{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.layout == "post" and site.theme == "dark" %}
  {% assign hide_cover_image = true %}
{% else %}
  {% assign hide_cover_image = false %}
{% endif %}

{% if page.cover-img or page.title %}

{% unless hide_cover_image %}
  {% if page.cover-img %}
    <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
      {% for bigimg in page.cover-img %}
      {% assign imgnum = forloop.index %}
      {% for imginfo in bigimg %}
        {% if imginfo[0] %}
        data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
        data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
      {% else %}
        data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
      {% endif %}
      {% endfor %}
      {% endfor %}
    ></div>
  {% endif %}
{% endunless %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
{% if page.cover-img and not hide_cover_image %}
<div class="big-img intro-header">
  <!-- ... rest of the cover image code ... -->
</div>
{% endif %}
<div class="intro-header no-img">
  <!-- ... rest of the no-img code ... -->
</div>

{% if page.header-extra %}
  {% for file in page.header-extra %}
    {% include {{ file }} %}
  {% endfor %}
{% endif %}

</header>

{% else %}
<div class="intro-header"></div>
{% endif %}
